hr{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}


input{
	border-radius: 4% !important;	
}

.yellow{
	color:#e9bd07;
}

.red{
	color:#e84d37;
}

.title{
	border-bottom: 1px solid #33c3f0;
	margin-bottom: 0 !important;
}

.box{
	border: 0.3px solid #d1d1d1;
	padding: 30px;
	border-radius: 2%;
}

.tag{
	font-weight: bold;
	font-size: 11px;
}

.value-heading{
	font-size: 12.88px;
	margin-top: 10px;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:  flex;
	flex-wrap: wrap;
}

[class*="box"] {
	display: flex;
	flex-direction: column;
}

.hero {
	padding: 5rem 0;
}

.lista li{
	list-style: none;
}

.lista input,
.lista input:hover,
.lista input:focus{
	width: 100%;
	border: none;
	margin:0;
	padding:0;
}

.crud input,
.crud input:hover,
.crud input:focus{
	width: 900%;
}

.lista i{
	cursor: pointer;
	margin-top:1.3rem;
}

.crud .button, 
.crud button, 
.crud input[type="submit"], 
.crud input[type="reset"], 
.crud input[type="button"]{
	padding: 0 10px !important;
}
