hr{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.yellow{
	color:#e9bd07;
}

.title{
	border-bottom: 1px solid #33c3f0;
	margin-bottom: 0 !important;
}

.box{
	border: 0.3px solid #d1d1d1;
	padding: 30px;
	border-radius: 2%;
}

.tag{
	font-weight: bold;
	font-size: 11px;
}

.value-heading{
	font-size: 12.88px;
	margin-top: 10px;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	flex-wrap: wrap;
}

[class*="box"] {
	display: flex;
	flex-direction: column;
}

.hero {
    padding: 5rem 0;
}